<!-- <div class ="jumbotron"> -->
<div class="container center">
	<h1>SUSHI AFICIONADOS</h1>
	<p>
		<%= link_to "Log-In", "#", class: "btn btn-default btn-circle" %>
		<%= link_to "Sign-Up", "#", class: "btn btn-primary btn-circle" %>
	</p>
</div>
<!-- </div> -->