<!-- <div class ="jumbotron"> -->
<div class="container center">
	<h1>SUSHI AFICIONADOS</h1>
	<p>Click here to Sign-Up <%= link_to "Sign-Up", "#", class: "btn btn-primary btn-lg" %></p>
</div>
<!-- </div> -->